<p-growl [value]="msgs"></p-growl>

<div class="page">

    <div class="page-identity">
      <div class="page-name">
        <h5> CRM Settings </h5>
      </div>
      <div class="page-track">
        <ul>
          <li><a routerLink="/dashboard"> Settings </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> CRM Settings </li>
        </ul>
      </div>
    </div>
  
    <mat-card class="example-card tab-mat-card">

        <p-tabView orientation="left" (onChange)="handleChange($event)">

            <p-tabPanel header="Account Type">
                <ng-template pTemplate="content">

                    <p-dataTable [value]="cars" [globalFilter]="AccountTypeFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddAccountType()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #AccountTypeFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                 Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditAccountType(car)"> <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewAccountType(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Account Type -->

            <p-tabPanel header="Industry Type">
                <ng-template pTemplate="content">

                    <p-dataTable [value]="cars" [globalFilter]="IndustryTypeFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddIndustryType()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #IndustryTypeFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                 Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditIndustryType(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewIndustryType(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Industry Type -->

            <p-tabPanel header="Ownership Type">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="OwnershipTypeFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddOwnershipType()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #OwnershipTypeFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditOwnershipType(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewOwnershipType(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Ownership Type -->

            <p-tabPanel header="Activity Type">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="ActivityTypeFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddActivityType()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #ActivityTypeFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditActivityType(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewActivityType(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Activity Type -->

            <p-tabPanel header="Activity Status">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="ActivityStatusFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddActivityStatus()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #ActivityStatusFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditActivityStatus(car)"> <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewActivityStatus(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Activity Status -->

            <p-tabPanel header="Activity Periority">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="ActivityPeriorityFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddActivityPeriority()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #ActivityPeriorityFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditActivityPeriority(car)"> <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewActivityPeriority(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Activity Periority -->

            <p-tabPanel header="Pipline Status">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="PiplineStatusFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddPiplineStatus()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #PiplineStatusFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditPiplineStatus(car)"> <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewPiplineStatus(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Pipline Status -->

            <p-tabPanel header="Contact Role">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="ContactRoleFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddContactRole()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #ContactRoleFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditContactRole(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewContactRole(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Contact Role -->

            <p-tabPanel header="Quotation Terms">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="QuotationTermsFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddQuotationTerms()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #QuotationTermsFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditQuotationTerms(car)"> <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewQuotationTerms(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Quotation Terms -->

            <p-tabPanel header="Unite Of Measure">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="UniteOfMeasureFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddUniteOfMeasure()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #UniteOfMeasureFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditUniteOfMeasure(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewUniteOfMeasure(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Unite Of Measure -->

            <p-tabPanel header="Opportunity Status">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="OpportunityStatusFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddOpportunityStatus()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #OpportunityStatusFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditOpportunityStatus(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewOpportunityStatus(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Opportunity Status -->

        </p-tabView>
        
    </mat-card>
</div>