.steps-style-1 .ui-steps .ui-steps-item{
    width: 33.3%;
    height: 5px;
    border: none;
    background:#546979;
}
.steps-style-1 .ui-steps .ui-steps-item.ui-state-highlight{
    background: #49b660 !important;
}

.steps-style-1 .ui-steps .ui-steps-item .ui-menuitem-link{
    text-decoration: none;
    line-height: 30px;
    padding: 0px;
    text-align: center;
    display: inline;
    position: relative;
    display:block;
    margin-left: 48%;
}
.steps-style-1 .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number{
    font-size: 22px;
    display: block;
    height: 30px;
    width: 30px;
    background-color: #546979;
    color: #fff;
    margin-top: -12px;
    border-radius: 50%;
}
.steps-style-1 .ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-number{
 background-color: #49b660 !important;
}

.steps-style-1 .ui-steps .ui-steps-item:not(.ui-state-highlight):not(.ui-state-disabled):hover{
    background-color: #546979;
}

.steps-style-1 .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-title {
    position: absolute;
    display: block;
    top: -11px;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    
}
.steps-style-1 .ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-title{
    color: #49b660 !important;
}