
<p-growl [value]="msgs"></p-growl>

<div class="page" style="margin-top:130px">

    <div class="page-identity" style="position:fixed; margin-top:-40px;">
      <div class="page-name">
        <h5> </h5>
      </div>
      <div class="page-track" style="width:47%">
        <ul>
          <li><a routerLink="/crmCustomersList"> Customers </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Customer View </li>
        </ul>
      </div>
    </div>

    
    <mat-card class="customer-right-card" style="padding:0px; margin-bottom:30px;background-color:transparent;box-shadow:none;">
        <div class="row">
            <!-- left bar -->
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12" style="height:130px; display:inline-flex;">
                        <img src="../../../../assets/company.png" alt="Customer Image" style="height:100%;padding:5px;margin-right: 20px;">
                        <div class="row" style="width:100%">
                            <div class="col-sm-12" style="height:45px;padding-right:0px">
                                <h5 style="line-height:40px;"> Customer Name 
                                    <button type="button" mat-icon-button color="" >
                                        <mat-icon>create</mat-icon>
                                    </button>
                                    <span class="pull-right">
                                        <button type="button" mat-button class="color-success" style="font-weight:600" [matMenuTriggerFor]="createList" >
                                            + Create
                                        </button> 
                                    </span>
                                </h5>
                                <span> aall</span>
                            </div>
                            <div class="col-sm-12" style="height:85px">
                                <div class="row">
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card style="height:75px"></mat-card>
                                    </div>
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card style="height:75px"></mat-card>
                                    </div>
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card style="height:75px"></mat-card>
                                    </div>
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card style="height:75px"></mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="padding-right:0px;border-top:2px solid #f1f4f7; border-right:2px solid #f1f4f7">
                        <p-tabView class="tab-style-2">
                            <p-tabPanel header="About" >
                                The story begins as Don Vito Corleone, the head of a New York Mafia family,
                            </p-tabPanel>
                            <p-tabPanel header="Contact" class="tab-mat-card">
                                <p-dataTable [value]="cars" [globalFilter]="ContactsFilter" sortMode="multiple" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25,50]">
                                    <p-header>
                                        <div class="row">
                                            <div class="col-sm-4 text-left">
                                                <button mat-button class="color-success" style="font-weight:600" (click)="ContactAdd()"> + Create </button> 
                                            </div>
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-5 text-left"> 
                                                <div style="width:100%;display:inline-flex">
                                                    <div style="float:left;width:85%">
                                                        <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                            <input matInput type="text" #ContactsFilter placeholder="Search" />
                                                            <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                                <mat-icon style="font-size:25px">search</mat-icon>
                                                            </button>
                                                        </mat-form-field> 
                                                    </div>
                                                    <div style="float:left;width:15%;text-align:center;height:35px">
                                                        <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                                    </div>
                                                </div>         
                                            </div>
                                        </div> 
                                    </p-header>
                                    <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                                        <ng-template let-col let-i="rowIndex" pTemplate="body">
                                            <span >{{i+1}}</span>
                                        </ng-template> 
                                    </p-column>
                                    <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                                    <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                                    <p-column field="year" header="Year" [sortable]="true" ></p-column>
                                    <p-column field="color" header="Color" [sortable]="true" >
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                                        <ng-template pTemplate="header">
                                                Action
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                                <div class="button-row tabel-action">
                                                    <button mat-mini-fab class="bg-color-info" color="accent" (click)="ContactEdit(car)" > <mat-icon>border_color</mat-icon> </button>
                                                    <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewCar(car)" > <mat-icon>visibility</mat-icon> </button>
                                                    <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                                </div>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable> 
                            </p-tabPanel>
                            <p-tabPanel header="Activity" >
                                After a break of more than  15 years,
                            </p-tabPanel>
                            <p-tabPanel header="Quote" >
                                The story begins as Don Vito Corleone, the head of a New York Mafia family,
                            </p-tabPanel>
                            <p-tabPanel header="Sales Order" >
                                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film,
                            </p-tabPanel>
                            <p-tabPanel header="Invoice" >
                                After a break of more than  15 years,
                            </p-tabPanel>
                            <p-tabPanel header="Payment" >
                                The story begins as Don Vito Corleone, the head of a New York Mafia family,
                            </p-tabPanel>
                            <p-tabPanel header="Remainder" >
                                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film,
                            </p-tabPanel>
                            <p-tabPanel header="Others" >
                                After a break of more than  15 years,
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
            <!-- right bar -->
            <div class="col-sm-3">
                <p-calendar class="custom_calender_1" [inline]="true"></p-calendar> 
            </div>
        </div>
    </mat-card>

</div>


<!-- Models -->

    <!-- CRM Customers Activity Add Model -->
    <div class="modal fade" bsModal #ActivityAdd="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="md-float-material" [formGroup]="ActivityAddForm" (submit)="ActivityAddFormSubmit()" >
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Add Activity </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="ActivityAdd.hide()">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="activityDate"  placeholder=" Activity Date " bsDatepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="contactPerson" placeholder="Contact Person">
                                            <mat-option *ngFor="let ContactPerson of ContactPersons" [value]="ContactPerson">{{ContactPerson}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="subject" placeholder="Subject" >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="activityType" placeholder=" Activity Type ">
                                            <mat-option *ngFor="let ActivityType of ActivityTypes" [value]="ActivityType">{{ActivityType}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="status" placeholder=" Status ">
                                            <mat-option *ngFor="let Status of Statuses" [value]="Status">{{Status}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="priority" placeholder=" Priority ">
                                            <mat-option *ngFor="let Priority of Priorities" [value]="Priority">{{Priority}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput type="text" formControlName="notes" placeholder=" Notes "></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" mat-raised-button class="bg-color-warning" color="accent" (click)="ActivityAdd.hide()"> Close </button>
                        <button type="submit" mat-raised-button color="accent" (click)="ActivityAdd.hide()"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- CRM Customers Activity Edit Model -->
    <div class="modal fade" bsModal #ActivityEdit="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="md-float-material" [formGroup]="ActivityEditForm" (submit)="ActivityEditFormSubmit()" >
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Edit Activity </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="ActivityEdit.hide()">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="activityDate"  placeholder=" Activity Date " bsDatepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="contactPerson" placeholder="Contact Person">
                                            <mat-option *ngFor="let ContactPerson of ContactPersons" [value]="ContactPerson">{{ContactPerson}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="subject" placeholder="Subject" >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="activityType" placeholder=" Activity Type ">
                                            <mat-option *ngFor="let ActivityType of ActivityTypes" [value]="ActivityType">{{ActivityType}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="status" placeholder=" Status ">
                                            <mat-option *ngFor="let Status of Statuses" [value]="Status">{{Status}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 20px">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="priority" placeholder=" Priority ">
                                            <mat-option *ngFor="let Priority of Priorities" [value]="Priority">{{Priority}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput type="text" formControlName="notes" placeholder=" Notes "></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" mat-raised-button class="bg-color-warning" color="accent" (click)="ActivityEdit.hide()"> Close </button>
                        <button type="submit"mat-raised-button color="accent" (click)="ActivityEdit.hide()"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- CRM Customers Delete Confirmation Model -->
    <ng-template #DeleteConfirm>
        <div class="modal-body text-center">
            <p>Are You Sure You Whant To Delete This Data ?</p>
            <button type="button" mat-raised-button class="bg-color-warning" color="accent" (click)="declineDelete()" >No</button>
            <button type="button" mat-raised-button color="accent" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
        </div>
    </ng-template>

    <!-- Dropdown Actions -->
    <mat-menu #createList="matMenu">
        <button mat-menu-item> <span> Create Contact </span> </button>
        <button mat-menu-item> <span> Create Activity </span> </button>
        <button mat-menu-item> <span> Creat Quot </span> </button>
        <button mat-menu-item> <span> Create Sales Order </span> </button>
        <button mat-menu-item> <span> Create Invoice </span> </button>
        <button mat-menu-item> <span> Create Remainder </span> </button>
    </mat-menu>