
<p-growl [value]="msgs"></p-growl>

<div class="page" style="margin-top:137px">

    <div class="page-identity" style="position:fixed; margin-top:-42px;">
      <div class="page-name">
        <h5> </h5>
      </div>
      <div class="page-track" style="width:47%">
        <ul>
          <li><a routerLink="/crmCustomersList"> Customers </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Customer View </li>
        </ul>
      </div>
    </div>

    
    <mat-card class="customer-right-card" style="padding:0px; margin-bottom:30px;background-color:transparent;box-shadow:none;">
        <div class="row">
            <!-- left bar -->
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12" style="height:150px; display:inline-flex;">
                        <img src="../../../../assets/company.png" alt="Customer Image" style="max-height: 140px;max-width: 220px;margin: 0px 5px;box-shadow: 0 1px 6px 1px rgba(0,0,0,.2);">
                        <div class="row" style="width:100%;margin-left:10px;">
                            <div class="col-sm-12" style="height:100px">
                                <div class="row">
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card class="customer-stylish-card card-1" >
                                            <div class="stylish-card-top" >
                                                <div class="icon-style"> <mat-icon>account_balance_wallet</mat-icon> </div>
                                                <div class="text-style">
                                                    <span class="heading-style"> Account Balnce </span>
                                                    <span class="value-style"> Rs.2,00,00,000.00</span>
                                                </div>
                                            </div>
                                            <div class="stylish-card-bottom">
                                                 <small> Rs.5,000.00 Last Added </small> 
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card class="customer-stylish-card card-2" >
                                            <div class="stylish-card-top" >
                                                <div class="icon-style"> <mat-icon>assignment</mat-icon> </div>
                                                <div class="text-style">
                                                    <span class="heading-style"> Logs Activity </span>
                                                    <span class="value-style"> 25 Logs </span>
                                                </div>
                                            </div>
                                            <div class="stylish-card-bottom" >
                                                <small> 45 Logs In last Day </small>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card class="customer-stylish-card card-3" >
                                            <div class="stylish-card-top" >
                                                <div class="icon-style"> <mat-icon>add_shopping_cart</mat-icon> </div>
                                                <div class="text-style">
                                                    <span class="heading-style"> Customer Leads </span>
                                                    <span class="value-style"> 25 Leads  </span>
                                                </div>
                                            </div>
                                            <div class="stylish-card-bottom" >
                                                <small> 25 Leads In Last Day  </small>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div class="col-sm-3" style="padding-right:0px">
                                        <mat-card class="customer-stylish-card card-4" >
                                            <div class="stylish-card-top" >
                                                <div class="icon-style"> <mat-icon>alarm</mat-icon> </div>
                                                <div class="text-style">
                                                    <span class="heading-style"> Remainders </span>
                                                    <span class="value-style"> 10 Remainders </span>
                                                </div>
                                            </div>
                                            <div class="stylish-card-bottom" >
                                                <small> 10 Remainders In Last Day </small>
                                            </div>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" style="height:40px;padding-right:0px">
                                <h5 style="line-height:45px;margin-bottom:0px;"> <span class="cus-name" style="font-family:sans-serif;font-size:20px;color:black"> Customer Name </span>
                                    <button type="button" mat-icon-button color="primary" >
                                        <mat-icon>create</mat-icon>
                                    </button>
                                    <span class="pull-right">
                                        <button type="button" mat-button color="accent" class="color-success" style="font-weight:600" [matMenuTriggerFor]="createList" >
                                            + Create
                                        </button> 
                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="padding-right:0px;border-top:2px solid #f1f4f7; border-right:2px solid #f1f4f7">
                        <p-tabView class="tab-style-2">
                            <p-tabPanel header="About" >
                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header class="customer-expansion-header">
                                            <mat-panel-title>
                                                <span class="cus-name"> Customer Details </span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-4"> <h5 class="customer-details-title">Customer Name  </h5> </div>
                                                    <div class="col-sm-8"> <h5 class="customer-details-value">Customer Name </h5> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"> <h5 class="customer-details-title">E-mail </h5> </div>
                                                    <div class="col-sm-8"> <h5 class="customer-details-value">Customerinfo@gmail.com </h5> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"> <h5 class="customer-details-title">Phone </h5> </div>
                                                    <div class="col-sm-8"> <h5 class="customer-details-value"> 0427 234 2345 </h5> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"> <h5 class="customer-details-title">Mobile </h5> </div>
                                                    <div class="col-sm-8"> <h5 class="customer-details-value"> +91 9876543210 </h5> </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-4"> <h5 class="customer-details-title">Industry Type  </h5> </div>
                                                    <div class="col-sm-8"> <h5 class="customer-details-value"> Manufacturing </h5> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4" style="padding-right:0px;"> <h5 class="customer-details-title">No Of Employees </h5> </div>
                                                    <div class="col-sm-8"> <h5 class="customer-details-value"> 75 Employees </h5> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4"> <h5 class="customer-details-title"> Notes </h5> </div>
                                                    <div class="col-sm-8"> <h5 class="customer-details-value notes"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                        Voluptate magni dignissimos minima pariatur consequatur debitis quo laudantium nemo, illo eum odit neque. </h5> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header class="customer-expansion-header">
                                            <mat-panel-title>
                                                    <span class="cus-name"> Address Details  </span>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h5 class="customer-details-title"> Shipping Address </h5>
                                                <div style="margin-left:30px;">
                                                    <h5 class="customer-details-value address"> No.32 Shri Lakshmi Nagar,</h5>
                                                    <h5 class="customer-details-value address"> Ganapathy,</h5>
                                                    <h5 class="customer-details-value address"> Coimbatore,</h5>
                                                    <h5 class="customer-details-value address"> Tamil Nadu - 641007,</h5>
                                                    <h5 class="customer-details-value address"> India.</h5>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <h5 class="customer-details-title"> Billing Address </h5>
                                                <div style="margin-left:30px;">
                                                    <h5 class="customer-details-value address"> No.32 Shri Lakshmi Nagar,</h5>
                                                    <h5 class="customer-details-value address"> Ganapathy,</h5>
                                                    <h5 class="customer-details-value address"> Coimbatore,</h5>
                                                    <h5 class="customer-details-value address"> Tamil Nadu - 641007,</h5>
                                                    <h5 class="customer-details-value address"> India.</h5>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" style="padding:0px">
                                                <agm-map [latitude]="11.044377" [longitude]="76.976176">
                                                    <agm-marker [latitude]="11.044377" [longitude]="76.976176"></agm-marker> 
                                                </agm-map>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </p-tabPanel>
                            <p-tabPanel header="Contact" class="tab-mat-card">
                                <p-dataTable [value]="cars" [globalFilter]="ContactsFilter" sortMode="multiple" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25,50]">
                                    <p-header>
                                        <div class="row">
                                            <div class="col-sm-4 text-left">
                                                <button mat-button class="color-success" color="accent" style="font-weight:600" (click)="ContactAdd()"> + Create </button> 
                                            </div>
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-5 text-left"> 
                                                <div style="width:100%;display:inline-flex">
                                                    <div style="float:left;width:85%">
                                                        <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                            <input matInput type="text" #ContactsFilter placeholder="Search" />
                                                            <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                                <mat-icon style="font-size:25px">search</mat-icon>
                                                            </button>
                                                        </mat-form-field> 
                                                    </div>
                                                    <div style="float:left;width:15%;text-align:center;height:35px">
                                                        <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                                    </div>
                                                </div>         
                                            </div>
                                        </div> 
                                    </p-header>
                                    <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                                        <ng-template let-col let-i="rowIndex" pTemplate="body">
                                            <span >{{i+1}}</span>
                                        </ng-template> 
                                    </p-column>
                                    <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                                    <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                                    <p-column field="year" header="Year" [sortable]="true" ></p-column>
                                    <p-column field="color" header="Color" [sortable]="true" >
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                                        <ng-template pTemplate="header">
                                                Action
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                                <div class="button-row tabel-action">
                                                    <button mat-mini-fab class="bg-color-info" color="accent" (click)="ContactEdit(car)" > <mat-icon>border_color</mat-icon> </button>
                                                    <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ContactView(car)" > <mat-icon>visibility</mat-icon> </button>
                                                    <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                                </div>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable> 
                            </p-tabPanel>
                            <p-tabPanel header="Activity" class="tab-mat-card">
                                <p-dataTable [value]="cars" [globalFilter]="ActivitiesFilter" sortMode="multiple" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,25,50]">
                                    <p-header>
                                        <div class="row">
                                            <div class="col-sm-4 text-left">
                                                <button mat-button class="color-success" color="accent" style="font-weight:600" (click)="ActivityAdd()"> + Create </button> 
                                            </div>
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-5 text-left"> 
                                                <div style="width:100%;display:inline-flex">
                                                    <div style="float:left;width:85%">
                                                        <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                            <input matInput type="text" #ActivitiesFilter placeholder="Search" />
                                                            <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                                <mat-icon style="font-size:25px">search</mat-icon>
                                                            </button>
                                                        </mat-form-field> 
                                                    </div>
                                                    <div style="float:left;width:15%;text-align:center;height:35px">
                                                        <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                                    </div>
                                                </div>         
                                            </div>
                                        </div> 
                                    </p-header>
                                    <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                                        <ng-template let-col let-i="rowIndex" pTemplate="body">
                                            <span >{{i+1}}</span>
                                        </ng-template> 
                                    </p-column>
                                    <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                                    <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                                    <p-column field="year" header="Year" [sortable]="true" ></p-column>
                                    <p-column field="color" header="Color" [sortable]="true" >
                                        <ng-template let-col let-car="rowData" pTemplate="body">
                                            <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                                        </ng-template>
                                    </p-column>
                                    <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                                        <ng-template pTemplate="header">
                                                Action
                                        </ng-template>
                                        <ng-template let-car="rowData" pTemplate="body">
                                                <div class="button-row tabel-action">
                                                    <button mat-mini-fab class="bg-color-info" color="accent" (click)="ActivityEdit(car)" > <mat-icon>border_color</mat-icon> </button>
                                                    <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ActivityView(car)" > <mat-icon>visibility</mat-icon> </button>
                                                    <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                                </div>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable> 
                            </p-tabPanel>
                            <p-tabPanel header="Quote" >
                                The story begins as Don Vito Corleone, the head of a New York Mafia family,
                            </p-tabPanel>
                            <p-tabPanel header="Sales Order" >
                                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film,
                            </p-tabPanel>
                            <p-tabPanel header="Invoice" >
                                After a break of more than  15 years,
                            </p-tabPanel>
                            <p-tabPanel header="Payment" >
                                The story begins as Don Vito Corleone, the head of a New York Mafia family,
                            </p-tabPanel>
                            <p-tabPanel header="Remainder" >
                                Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film,
                            </p-tabPanel>
                            <p-tabPanel header="Others" >
                                After a break of more than  15 years,
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
            <!-- right bar -->
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <p-calendar class="custom_calender_1" [inline]="true"></p-calendar> 
                    </div>
                    <div class="col-sm-12" style="margin-top:10px">
                        <mat-card style="padding:0px;border:1px solid #e7e9ea;box-shadow:none;">
                            <div class="create-schedule">
                                <h5 class="create-schedule-header"> Recent </h5>
                                <div class="recent-list">
                                    <div class="recent-image">
                                        <img src="../../../../assets/profile.png" alt="" style="height:40px; width:40px; border-radius:40px;">
                                    </div>
                                    <div class="recent-content"> New Contact Created
                                        <div class="recent-time"> ( 27/12/2017 05:32-PM ) </div>
                                    </div>
                                </div>
                                <div class="recent-list" style="background-color: #dadada52;">
                                    <div class="recent-image">
                                        <img src="../../../../assets/profile.png" alt="" style="height:40px; width:40px; border-radius:40px;">
                                    </div>
                                    <div class="recent-content"> New Quotation Created
                                        <div class="recent-time"> ( 27/12/2017 05:32-PM ) </div>
                                    </div>
                                </div>
                                <div class="recent-list">
                                    <div class="recent-image">
                                        <img src="../../../../assets/profile.png" alt="" style="height:40px; width:40px; border-radius:40px;">
                                    </div>
                                    <div class="recent-content"> Some Contact Updated
                                        <div class="recent-time"> ( 27/12/2017 05:32-PM ) </div>
                                    </div>
                                </div>
                                <div class="recent-list" style="background-color: #dadada52;">
                                    <div class="recent-image">
                                        <img src="../../../../assets/profile.png" alt="" style="height:40px; width:40px; border-radius:40px;">
                                    </div>
                                    <div class="recent-content">  Some Quotation Edited
                                        <div class="recent-time"> ( 27/12/2017 05:32-PM ) </div>
                                    </div>
                                </div>
                                <div class="recent-list">
                                    <div class="recent-image">
                                        <img src="../../../../assets/profile.png" alt="" style="height:40px; width:40px; border-radius:40px;">
                                    </div>
                                    <div class="recent-content"> New Contact Created
                                        <div class="recent-time"> ( 27/12/2017 05:32-PM ) </div>
                                    </div>
                                </div>
                                <div class="recent-list" style="background-color: #dadada52;text-align:center">
                                    <h5 style="text-align:center;width:100%"> ... </h5>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                
            </div>
        </div>
    </mat-card>

</div>


<!-- Models -->

    <!-- CRM Customers Delete Confirmation Model -->
    <ng-template #DeleteConfirm>
        <div class="modal-body text-center">
            <p>Are You Sure You Whant To Delete This Data ?</p>
            <button type="button" mat-raised-button class="bg-color-warning" color="accent" (click)="declineDelete()" >No</button>
            <button type="button" mat-raised-button color="accent" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
        </div>
    </ng-template>

    <!-- Dropdown Actions -->
    <mat-menu #createList="matMenu">
        <button mat-menu-item> <span> Create Contact </span> </button>
        <button mat-menu-item> <span> Create Activity </span> </button>
        <button mat-menu-item> <span> Creat Quot </span> </button>
        <button mat-menu-item> <span> Create Sales Order </span> </button>
        <button mat-menu-item> <span> Create Invoice </span> </button>
        <button mat-menu-item> <span> Create Remainder </span> </button>
    </mat-menu>