<p-growl [value]="msgs"></p-growl>

<div class="page">

    <div class="page-identity">
      <div class="page-name">
        <h5> Product Settings </h5>
      </div>
      <div class="page-track">
        <ul>
          <li><a routerLink="/dashboard"> Settings </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Product Settings </li>
        </ul>
      </div>
    </div>

    <mat-card class="example-card">
      <div class="row">
        <div class="col-sm-3 left-select-bar">
            <div class="example-container">
                <mat-form-field>
                    <input matInput type="text"  name="companyName"  placeholder="Product Name">
                </mat-form-field>
            </div>
            <div style="margin-top:15px;">
              <div class="example-container" style="margin-left:20px;">
                <mat-radio-group class="example-radio-group" [(ngModel)]="ProductType">
                  <mat-radio-button class="example-radio-button bg-color-primary" *ngFor="let Type of ProductsType" [value]="Type">
                    {{Type}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div style="margin-top:15px;">
              <h5 class="select-title"> Product Varient </h5>
              <div class="example-container" style="margin-left:20px;">
                <mat-radio-group class="example-radio-group" [(ngModel)]="ProductVarient">
                  <mat-radio-button class="example-radio-button bg-color-primary" *ngFor="let Varient of ProductsVarients" [value]="Varient">
                    {{Varient}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div style="margin-top:15px;">
              <h5 class="select-title"> Product HSN/SAC Code </h5>
              <div class="example-container" style="margin-left:20px;">
                <mat-radio-group class="example-radio-group" [(ngModel)]="ProducHsnCode">
                  <mat-radio-button class="example-radio-button bg-color-primary" *ngFor="let HsnCode of ProductsHsnCodes" [value]="HsnCode">
                    {{HsnCode}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div style="margin-top:15px;">
              <h5 class="select-title"> Product Item Code </h5>
              <div class="example-container" style="margin-left:20px;">
                <mat-radio-group class="example-radio-group" [(ngModel)]="ProductItemCode">
                  <mat-radio-button class="example-radio-button bg-color-primary" *ngFor="let ItemCode of ProductsItemCodes" [value]="ItemCode">
                    {{ItemCode}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div style="margin-top:15px;">
              <h5 class="select-title"> Product Bar Code </h5>
              <div class="example-container" style="margin-left:20px;">
                <mat-radio-group class="example-radio-group" [(ngModel)]="ProductBarCode">
                  <mat-radio-button class="example-radio-button bg-color-primary" *ngFor="let BarCode of ProductsBarCodes" [value]="BarCode">
                    {{BarCode}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

        </div>
        <div class="col-sm-9"></div>
      </div>
    </mat-card>

</div>