.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin:0px 15px;
  }
  
  .demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  .demo-tab-content {
    padding: 16px;
  }


  .hover-shadow{
    box-shadow: 0 1px 10px 3px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important
  }
