/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

@import '../node_modules/@angular/cdk/overlay-prebuilt.css';
@import '../node_modules/@angular/cdk/a11y-prebuilt.css';

@import url('https://fonts.googleapis.com/css?family=Rubik');
body{
    background-color: #f1f1f1ad
}

/* ngx-datepicker color change */
.theme-green .bs-datepicker-body table td span.selected, 
.theme-green .bs-datepicker-body table td.selected span, 
.theme-green .bs-datepicker-body table td span[class*="select-"]:after, 
.theme-green .bs-datepicker-body table td[class*="select-"] span:after,
.theme-green .bs-datepicker-head
{
    background-color: #0464c7;
}
.theme-green .bs-datepicker-body table td.week span{
    color: #0464c7;
    font-weight: 600;
}


/* material css */

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .cdk-overlay-container{
      z-index: 1002;
  }


  /* bootstrap css chenge */
  .modal-content{
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  border-radius: 2px;
  border-color: #ffffff;
  }


 /* primeng css chenge */
.ui-widget-overlay.ui-dialog-mask{
    z-index: 1001 !important;
  }
  .ui-dialog{
    z-index: 1002 !important;
  }
.ui-datatable.ui-datatable-resizable .ui-datatable-thead>tr>th, 
.ui-datatable.ui-datatable-resizable .ui-datatable-tfoot>tr>td, 
.ui-datatable.ui-datatable-resizable .ui-datatable-data>tr>td{
width: auto !important;
  }
  .ui-fileupload-content .ui-messages{
      display: none !important;
  }






  /* custom css */
.spinner-div{
    position: absolute;
    right: 10px;
    top: 53px;
  }
  .spinner {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #0464c7;
    border-bottom: 16px solid #0464c7;
    width: 2px;
    height: 2px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loading-bar{
    position: absolute;
    width: 100%;
  }
  .loading-bar .bar {
    border-radius: 5px;
    height: 3px;
    background-color: #0464c7;
  }

  .page{
    margin: 90px 20px 0px 20px;

}
.page-identity{
    height: 42px;
    width: 100%;
}
.page-identity .page-name{
    width: 50%;
    height: 42px;
    float: left;
}
.page-identity .page-name h5{
    line-height: 42px;
    font-size: 18px;
    font-weight: 800;
    color: #6c7986;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
.page-identity .page-track{
    width: 50%;
    height: 42px;
    float: left;
}
.page-identity .page-track ul{
    float: right;
    margin-bottom: 0px;
    list-style: none;
    display: inline-block;
    height: 42px;
}
.page-identity .page-track ul li{
    float: left;
    height: 42px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 13px;
    font-weight: 500;
    color:#61626394;
    font-family: 'Rubik', sans-serif;
}
.page-identity .page-track ul li a{
    text-decoration: none;
    color:#0464c7;
}
.z-1{
    z-index: -1;
}

button:focus{
    outline-color: transparent;
    color: initial;
    background-color: initial;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    color: #ffffff;
}