/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

@import '../node_modules/@angular/cdk/overlay-prebuilt.css';
@import '../node_modules/@angular/cdk/a11y-prebuilt.css';

@import url('https://fonts.googleapis.com/css?family=Rubik');

/* Custom css */
@import '../src/assets/custom-css/customer-tab.css';


body{
    background-color: #ecf0f5b5;
}

/* ngx-datepicker color change */
.theme-green .bs-datepicker-body table td span.selected, 
.theme-green .bs-datepicker-body table td.selected span, 
.theme-green .bs-datepicker-body table td span[class*="select-"]:after, 
.theme-green .bs-datepicker-body table td[class*="select-"] span:after,
.theme-green .bs-datepicker-head
{
    background-color: #49b660;
}
.theme-green .bs-datepicker-body table td.week span{
    color: #49b660;
    font-weight: 600;
}


/* material css */
.mat-focused .mat-form-field-label{
    color: #49b660 !important;
}
.mat-form-field-ripple{
    background-color: #49b660;
}
.mat-checkbox-ripple.mat-ripple>*{
    background-color:transparent !important;
}
.mat-button.mat-accent .mat-button-focus-overlay, .mat-icon-button.mat-accent .mat-button-focus-overlay, .mat-button-focus-overlay{
    background-color: rgba(73, 182, 96, 0.26) !important;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary{
    color: #49b660;
}
.mat-form-field-wrapper{
    padding-bottom: 1.3em !important;
}
.customer-right-card .mat-tab-label{
    min-width: 100px !important;
  }
  
.search-field.mat-form-field-should-float.mat-focused .mat-form-field-label{
    top: 25px !important;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .cdk-overlay-container{
      z-index: 1002;
  }
  .mat-raised-button.mat-accent, 
  .mat-fab.mat-accent, 
  .mat-mini-fab.mat-accent{
      background-color: #49b660 ;
      color: #ffffff;
  }

  .tabel-action .mat-mini-fab{
      width: 37px !important;
      height: 37px !important;
  }
  .tabel-action .mat-mini-fab .mat-button-wrapper{
      line-height: 20px !important;
      padding: 8px 0 !important;
  }
  .tabel-action .material-icons{
      font-size: 21px !important;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #49b660 ;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#49b660;  
  }


  /* bootstrap css chenge */
  .modal-content{
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  border-radius: 2px;
  border-color: #ffffff;
  }
  .modal-backdrop{
    z-index:1001 !important;
  }
  .modal{
      z-index:1002 !important;
  }


 /* primeng css chenge */
.ui-widget-overlay.ui-dialog-mask{
    z-index: 1001 !important;
  }
  .ui-dialog{
    z-index: 1002 !important;
  }
.ui-datatable.ui-datatable-resizable .ui-datatable-thead>tr>th, 
.ui-datatable.ui-datatable-resizable .ui-datatable-tfoot>tr>td, 
.ui-datatable.ui-datatable-resizable .ui-datatable-data>tr>td{
width: auto !important;
  }
  .ui-fileupload-content .ui-messages{
      display: none !important;
  }







/* settings tabs modify */
.example-card.tab-mat-card{
    padding: 0px;
    box-shadow: none !important; /*new */
}
.tab-mat-card .ui-tabview{
  padding: 0px !important;
  background: whitesmoke; /*new */
}
.tab-mat-card .ui-tabview .ui-tabview-panel{
    padding: 5px !important; /*new */
    width: 79%;
}
.tab-mat-card .ui-widget-header{
    background: #ffffff !important; /*new */
}

.tab-mat-card .ui-datatable .ui-widget-header{
    background: #ffffff !important; /*new */
    margin-bottom: 15px;
    border: 1px solid #e6e9ec;
    padding: 4px;
}
.tab-mat-card .ui-datatable .ui-datatable-thead>tr>th, 
.tab-mat-card .ui-datatable .ui-datatable-tfoot>tr>td, 
.tab-mat-card .ui-datatable .ui-datatable-data>tr>td{
    border-width: 0px ;
    text-align: center;
}
.tab-mat-card .ui-datatable .ui-widget-content{
    border-width: 0px;
}
.tab-mat-card .ui-datatable-tablewrapper{
    border: 1px solid #e6e9ec;
}
.tab-mat-card .ui-datatable-thead tr{
    border-bottom: 1px solid #e6e9ec;
    height: 45px;
}
.tab-mat-card .ui-datatable th.ui-state-default{
    background-color: #ffffff !important; /*new */
}
.tab-mat-card .ui-datatable th.ui-state-default.ui-state-active {
    background-color:#536777 !important; /*new */
}
.tab-mat-card .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd{
    background: #ffffff !important; /*new */
}
.tab-mat-card .ui-datatable tbody > tr.ui-widget-content{
    background: whitesmoke !important; /*new */
}
.tab-mat-card .ui-tabview-left>.ui-tabview-nav{
 height: auto !important;
 width: 20%;
 margin-right: 1%;
 padding-top: 0px;
 /* border-right: 3px solid #0464c7; */
 border-radius: 0px;
 background-color: whitesmoke !important; /*new */
}
.tab-mat-card .ui-tabview.ui-tabview-left>.ui-tabview-nav li{
    border: 0px solid #e4e2e2;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    line-height: 30px;
    border-radius: 2px;
    margin: 5px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.tab-mat-card .ui-tabview .ui-tabview-nav > li.ui-state-active{
    background: #49b660 !important;
    line-height: 30px;
    color: #ffffff !important;
}
.tab-mat-card .ui-tabview .ui-tabview-nav li.ui-tabview-selected a{
    color: #ffffff;
    line-height: 30px;
}
.tab-mat-card .ui-tabview .ui-tabview-nav > li:not(.ui-state-active):not(.ui-state-disabled):hover{
    background: #49b660;
}
.tab-mat-card .ui-tabview .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover{
    border-color: #ffffff;
    color: #212121;
}
.tab-mat-card .ui-tabview .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover a{
    color: #ffffff;
}
.tab-mat-card .ui-tabview .ui-tabview-nav > li:last-child:not(.ui-state-active):not(.ui-state-disabled):hover{
    border-bottom-color: #49b660 !important;
}
.tab-mat-card .ui-tabview .ui-tabview-nav >li:last-child.ui-state-active{
    border-bottom-color:#49b660 !important;
}
.tab-mat-card .ui-tabview-left>.ui-tabview-panels{
    width: 79% !important;
}
.tab-mat-card .ui-datatable .ui-paginator{
    padding: 5px !important;
    text-align: right !important;
    border-top: 1px solid #e6e9ec;
}
.tab-mat-card .ui-dropdown .ui-dropdown-label{
    text-align: left !important;
}
.tab-mat-card .ui-dropdown.ui-state-focus{
    box-shadow: 0px 0px 0px transparent !important;
}
.tab-mat-card .ui-corner-all{
    border-radius: 0px !important;
}

/* .tab-mat-card .ui-datatable{
    box-shadow: 0 5px 10px -2px rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
} */
.tab-mat-card .demo-tab-content .ui-datatable{ 
    box-shadow: 0px 0px 0px 0px white;
}
.tab-mat-card .ui-tabview-panel.ui-widget-content.ng-star-inserted:not(.ui-helper-hidden){
    /* opacity:0 !important; */
    position: absolute;

    /* -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    transform:scale(0.0); */
}

/* @-webkit-keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; display: block !important;  } }
@-moz-keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; display: block !important; } }
@keyframes fadeIn { 
    from { opacity:0; } 
    to { opacity:1; display: block !important;  transform:scale(1.0); } } */


/* .ui-tabview-panel.ui-widget-content.ng-star-inserted.ui-helper-hidden{
        display: block !important;
        opacity:1 !important;
        position: absolute;
        top: 0px;
        -webkit-animation:fadeOut ease-in 1; 
        -moz-animation:fadeOut ease-in 1;
        animation:fadeOut ease-in 1;
      
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
      
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        animation-duration:1s;
    }
    @-webkit-keyframes fadeOut {    
        from { opacity:1;} 
        to { opacity:0; display: none !important;} 
    }
    @-moz-keyframes fadeOut { 
        from { opacity:1; } 
        to { opacity:0; display: none !important;} 
    }
    @keyframes fadeOut { 
        from { opacity:1;  } 
        to { opacity:0; display: none !important; transform: scale(0.0); } 
    } */


    


/* product add css */
.left-select-bar .select-title{
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
    color: #7b7e82;
}
.left-select-bar .mat-radio-label-content{
    font-size: 14px !important;
    padding-left: 2px !important;
}
.left-select-bar .mat-radio-outer-circle{
    height: 17px !important;
    width: 17px !important;
}
.left-select-bar .mat-radio-inner-circle{
    height: 17px !important;
    width: 17px !important;
}
.m-5-0{
    margin: 8px 0px;
}



  /* custom css */
.color-success{
    color: #49b660 !important;
}
.color-warning{
  color: rgb(255, 157, 11) !important;
}
.color-info{
  color: rgb(13, 141, 216) !important;
}
.color-danger{
    color: rgb(221, 10, 10) !important;
}
.color-white{
    color: #ffffff !important;
}

.bg-color-success{
    background-color: #49b660 !important;
}
.bg-color-warning{
    background-color: rgb(255, 157, 11) !important;
}
.bg-color-info{
    background-color: rgb(13, 141, 216) !important;
}
.bg-color-danger{
    background-color: rgb(221, 10, 10) !important;
}
.bg-color-white{
    background-color: #ffffff !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
background-color: #49b660;
}
.spinner-div{
    position: absolute;
    right: 10px;
    top: 53px;
  }
  .spinner {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #0464c7;
    border-bottom: 16px solid #0464c7;
    width: 2px;
    height: 2px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loading-bar{
    position: absolute;
    width: 100%;
  }
  .loading-bar .bar {
    border-radius: 5px;
    height: 3px;
    background-color: #0464c7;
  }

  .page{
    margin: 90px 20px 0px 20px;

}
.page-identity{
    height: 42px;
    width: 100%;
}
.page-identity .page-name{
    width: 50%;
    height: 42px;
    float: left;
}
.page-identity .page-name h5{
    line-height: 42px;
    font-size: 18px;
    font-weight: 800;
    color: #6c7986;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
.page-identity .page-track{
    width: 50%;
    height: 42px;
    float: left;
}
.page-identity .page-track ul{
    margin-bottom: 0px;
    list-style: none;
    display: inline-block;
    height: 42px;
}
.page-identity .page-track ul{
    float: right;
}
.page-identity .page-track ul li{
    float: left;
    height: 42px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 13px;
    font-weight: 500;
    color:#61626394;
    font-family: 'Rubik', sans-serif;
}
.page-identity .page-track ul li a{
    text-decoration: none;
    color:#49b660;
}
.z-1{
    z-index: -1;
}

button:focus{
    outline-color: transparent;
    color: initial;
    background-color: initial;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    color: #ffffff;
}