<div class="loader">
  <div *ngIf="Spinner" class="spinner-div"><div class="spinner"></div></div>
  <div [@pageLoader]="pageLoaderAction" class="loading-bar"><div class="bar"></div></div>
</div>


<div class="page">
  <div class="page-identity">
    <div class="page-name">
      <h5> Ui Page </h5>
    </div>
    <div class="page-track">
      <ul>
        <li>
          <a href=""> Dashboard </a>
        </li>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </li>
        <li> Ui Example </li>
      </ul>
    </div>
  </div>

  <mat-card class="example-card">
    <div class="row">
      <div class="col-sm-3"> 
        <button mat-raised-button color="primary" (click)="openDialog()">Open dialog</button> 
      </div>
      <div class="col-sm-6"> 
        <span>  Popup Enter Value :<u> {{ popupReturnValue }} </u> </span> 
      </div>
      <div class="col-sm-3">
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <mat-form-field class="example-full-width cdk-overlay-pane">
          <input matInput   placeholder="Select Date"  #dp1="bsDatepicker" bsDatepicker >
          <mat-icon (click)="dp1.toggle()" matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group">
          <mat-form-field class="example-full-width cdk-overlay-pane">
              <input matInput placeholder="Select Date Range" #drp="bsDaterangepicker" bsDaterangepicker value="">
              <mat-icon (click)="drp.toggle()" matSuffix>mode_edit</mat-icon>
          </mat-form-field>
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <mat-form-field class="example-full-width cdk-overlay-pane">
          <input matInput placeholder="Input Field" value="">
          <mat-icon  matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      </div>
    </div>

    
    <button type="button" class="btn btn-primary" (click)="parentModal.show()">Open parent modal</button>
    
    <div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">First modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-primary" (click)="childModal.show()">Open second modal</button>
          </div>
        </div>
      </div>
    </div>
     
    <div class="modal fade" bsModal #childModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Second modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is second modal <br>
            <button type="button" class="btn btn-primary" (click)="thirdModal.show()">Open third modal</button>
          </div>
        </div>
      </div>
    </div>
     
    <div class="modal fade" bsModal #thirdModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Third modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="thirdModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is third modal <br>
            Click <b>&times;</b> to close modal.
          </div>
        </div>
      </div>
    </div>
    

  </mat-card>
</div>
