<div class="loader">
  <div *ngIf="Spinner" class="spinner-div"><div class="spinner"></div></div>
  <div [@pageLoader]="pageLoaderAction" class="loading-bar"><div class="bar"></div></div>
</div>


<div class="page">
  <div class="page-identity">
    <div class="page-name">
      <h5> Ui Page </h5>
    </div>
    <div class="page-track">
      <ul>
        <li>
          <a href=""> Dashboard </a>
        </li>
        <li>
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </li>
        <li> Ui Example </li>
      </ul>
    </div>
  </div>

  <mat-card class="example-card">
    <button mat-button (click)="openDialog()">Open dialog</button>
    <h5> Popup Enter Value : {{ popupReturnValue }}</h5>
  </mat-card>
</div>
