<p-growl [value]="msgs"></p-growl>

<div class="page">

    <div class="page-identity">
      <div class="page-name">
        <h5> Accounts Settings </h5>
      </div>
      <div class="page-track">
        <ul>
          <li><a routerLink="/dashboard"> Settings </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Accounts Settings </li>
        </ul>
      </div>
    </div>
  
    <mat-card class="example-card tab-mat-card">

        <p-tabView orientation="left" (onChange)="handleChange($event)">

            <p-tabPanel header="Tax">
                <ng-template pTemplate="content">

                    <p-dataTable [value]="cars" [globalFilter]="TaxFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddTax()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #TaxFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                 Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditTax(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewTax(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Tax -->

            <p-tabPanel header="Bank">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="BankFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddBank()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #BankFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditBank(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewBank(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Bank -->

            <p-tabPanel header="Income Type">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="IncomeTypeFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddIncomeType()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #IncomeTypeFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditIncomeType(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewIncomeType(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Income Type -->

            <p-tabPanel header="Payment Terms">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="PaymentTermsFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddPaymentTerms()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #PaymentTermsFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditPaymentTerms(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewPaymentTerms(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Payment Terms -->

        </p-tabView>
        
    </mat-card>
</div>

