.home-header{
    width: 100%;
    height: 80px;
}
.home-header .header-one{
    width: 100%;
    height: 40px;
    background-color: rgb(14, 142, 251);
}
.home-header .header-two{
    width: 100%;
    height: 40px;
    background-color: rgb(52, 68, 84);
}
.home-header .header-two .menus{
    height: 40px;
    list-style: none;
    display: inline-block;
    padding: 0px;
}
.home-header .header-two .menus .menu-list{
    height: 40px;
    line-height: 40px;
    float: left;
}
.home-header .header-two .menus .menu-list a{
    color: #eaeaea;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 10px;
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid #f1f1f13b;
}
.home-header .header-two .menus .menu-list a:hover, 
.home-header .header-two .menus .menu-list a:active, 
.home-header .header-two .menus .menu-list a:focus{
    color: #ffffff;
    line-height: 39px;
    background-color: rgb(14, 142, 251);
    width: 100%;
}
.home-header .tree-menus{
    position: relative;
    display: inline-block;
}
.home-header .tree-menus .tree-view{
    position: absolute;
    display:none;
    list-style: none;
    min-width: 150px;
    background-color: #eaeaea;
    left: 0px;
    padding-left: 0px;
    z-index: 1;
}
.home-header .tree-menus .tree-view .tree-list{
    height: 40px;
    float: left;
}
.home-header .tree-menus .tree-view .tree-list a{
    color: #4ad4ec;
    text-decoration: none;
    font-weight: 600;
    line-height: 40px;
    width: 150px !important;
}
.home-header .tree-menus .tree-view .tree-list a:hover,
.home-header .tree-menus .tree-view .tree-list a:active,
.home-header .tree-menus .tree-view .tree-list a:focus{
    color: #041769;
    background-color: #ffffff;
}
.home-header .tree-menus:hover .tree-view {
    display: block;
}