<p-growl [value]="msgs"></p-growl>

<div class="page" style="margin-top:137px">

    <div class="page-identity" style="position:fixed; margin-top:-42px;">
      <div class="page-name">
        <h5> </h5>
      </div>
      <div class="page-track" style="width:47%">
        <ul>
          <li> Invoice </li>
        </ul>
      </div>
    </div>

    <mat-card class="example-card tab-mat-card style-new" style="padding:0px 0px 30px 0px;background-color:#f1f4f7;box-shadow:none;">
        <p-dataTable [value]="cars" [globalFilter]="InvoiceFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
            <p-header>
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <button mat-button class="color-success" style="font-weight:600" [matMenuTriggerFor]="create"> + Create </button> 
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5 text-left"> 
                        <div style="width:100%;display:inline-flex">
                            <div style="float:left;width:85%">
                                <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                    <input matInput type="text" #InvoiceFilter placeholder="Search" />
                                    <button mat-button matSuffix mat-icon-button aria-label="Search">
                                        <mat-icon style="font-size:25px">search</mat-icon>
                                    </button>
                                </mat-form-field> 
                            </div>
                            <div style="float:left;width:15%;text-align:center;height:35px">
                                <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                            </div>
                        </div>         
                    </div>
                </div> 
            </p-header>
            <p-headerColumnGroup>
                <p-row>
                    <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" ></p-column>
                    <p-column header="Invoice Details" [style]="{'min-width':'17%','text-align':'center'}"></p-column>
                    <p-column header="Quote & Sale Order Details" [style]="{'min-width':'28%','text-align':'center'}"></p-column>
                    <p-column header="Company Details" [style]="{'min-width':'22%','text-align':'center'}"></p-column>
                    <p-column header="Created By" [style]="{'text-align':'center'}"></p-column>
                    <p-column header="Total Value" [style]="{'text-align':'center'}"></p-column>
                    <p-column header="Action" [style]="{'text-align':'center'}"></p-column>
                </p-row>
            </p-headerColumnGroup>
            <p-column>
                <ng-template let-col let-i="rowIndex" pTemplate="body">
                    <span >{{i+1}}</span>
                </ng-template> 
            </p-column>
            <p-column >
                <ng-template let-car="rowData" pTemplate="body">
                    <h6 class="tbl-value-1" routerLink ="/crmViewInvoice" > <b>  Invoice-{{car['vin']}} </b> </h6>
                    <h6 class="tbl-value-3" > Invoice Date : 12/07/2017 </h6>
                    <h6 class="tbl-value-3" > Create Date : 12/07/2017 </h6>
                </ng-template>
            </p-column>
            <p-column>
                <ng-template let-car="rowData" pTemplate="body" >
                    <h6 class="tbl-value-1" routerLink ="/crmViewQuotations" > <b> Quote-{{car['vin']}}</b> </h6>
                    <h6 class="tbl-value-1" routerLink ="/crmViewSaleOrders" > <b> Sale Order-{{car['vin']}}</b> </h6>
                </ng-template>
            </p-column>
            <p-column >
                <ng-template let-car="rowData" pTemplate="body">
                    <h6 class="tbl-value-1" routerLink ="/crmViewCustomers"> <b> Customer Name </b> </h6>
                    <h6 class="tbl-value-3" >  ganapathy, coimboture, Tamil Nadu </h6>
                </ng-template>
            </p-column>
            <p-column >
                <ng-template let-car="rowData" pTemplate="body" >
                    <h6 class="tbl-value-5"> <b> Admin Name </b> </h6>
                </ng-template>
            </p-column>
            <p-column>
                <ng-template let-col let-i="rowIndex" pTemplate="body">
                    <h6 class="tbl-value-5"> <b> Rs. {{i + 50 * 50}} </b> </h6>
                </ng-template> 
            </p-column>
            <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                <ng-template let-car="rowData" pTemplate="body">
                        <div class="button-row tabel-action">
                            <button mat-raised-button class="bg-color-primary" color="accent" [matMenuTriggerFor]="menu" > Action </button>
                        </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </mat-card>
</div>




<!-- Invoice Create Model -->
<div class="modal fade" bsModal #CreateInvoice="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"> Sale Order Create </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="CreateSlaeOrder.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-6" style="margin-bottom:20px;">
                        <div class="example-container">
                            <mat-form-field>
                                <mat-select placeholder=" Select Customer Name" #CustomerSelect (change)="SelectCustomer(CustomerSelect.value)">
                                    <mat-option *ngFor="let customer of customers" [value]="customer" >{{customer}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom:20px;">
                        <div class="example-container">
                            <mat-form-field>
                                <mat-select [disabled]="ShowQuotes" placeholder=" Quote Ref No ">
                                    <mat-option *ngFor="let quote of quotes" [value]="quote" >{{quote}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button mat-raised-button class="bg-color-warning" color="accent" (click)="CreateSlaeOrder.hide()"> Close </button>
                <button mat-raised-button color="accent" (click)="goToSaleCreate()" (click)="CreateSlaeOrder.hide()"> Submit </button>
            </div>
        </div>
    </div>
</div>




<!-- Dropdown Actions -->
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink ="/crmCreateInvoice" >
        <mat-icon>border_color</mat-icon>
        <span>Edit Invoice </span>
    </button>
    <button mat-menu-item routerLink ="/crmViewInvoice">
        <mat-icon>remove_red_eye</mat-icon>
        <span>View Invoice </span>
    </button>
    <button mat-menu-item>
        <mat-icon>assignment_turned_in</mat-icon>
        <span> Create Payment </span>
    </button>
</mat-menu>

<!-- Dropdown Actions -->
<mat-menu #create="matMenu">
    <button mat-menu-item routerLink="/crmCreateQuotations" >
        <mat-icon>library_add</mat-icon>
        <span>Create Quote</span>
    </button>
    <button mat-menu-item routerLink="/crmSaleOrdersList" >
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Create Sale Order</span>
    </button>
    <button mat-menu-item (click)="createInvoice()" (click)="CreateInvoice.show()">
        <mat-icon>note_add</mat-icon>
        <span>Create Invoice</span>
    </button>
    <button mat-menu-item routerLink="/crmCreateQuotations" >
        <mat-icon>note_add</mat-icon>
        <span>Create Direct Invoice </span>
    </button>
</mat-menu>
