<p-growl [value]="msgs"></p-growl>

<div class="page">

    <div class="page-identity">
      <div class="page-name">
        <h5> </h5>
      </div>
      <div class="page-track">
        <ul>
          <li> Customers </li>
        </ul>
      </div>
    </div>

    <mat-card class="example-card" style="padding:20px 0px;background-color:#ecf0f5b5;box-shadow:none;">
      <div class="row" style="margin-top:-15px;margin-bottom:15px;">
        <div class="col-sm-12"> 
          <button type="button" mat-button class="color-success" style="font-weight:600" routerLink="/crmCreatCustomers" > + Create </button> 
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" style="margin-bottom:20px;">
          <mat-card class="list-card" [class.hover-shadow]="Hovered1" (mouseover)="Hovered1=true" (mouseout)="Hovered1=false">
            <div class="row" style="height:100px;outline-color:transparent" routerLink="/crmViewCustomers">
              <div class="col-sm-4 text-center" style="padding-right:0px">
                <img src="../../../../assets/profile.png" alt="Customer Image" style="max-width:100%; max-height:100%">
              </div>
              <div class="col-sm-8" style="padding-left:0px">
                <h5 class="list-card-name"> Customer Name, </h5>
                <h5 class="list-card-email"> Customerinfo@mail.com, </h5>
                <h5 class="list-card-phone"> +91 9876543210, </h5>
                <h5 class="list-card-address"> City, State, Country. </h5>
              </div>
            </div>
            <span style="position:absolute;right:5px;top:5px;"> 
              <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>create</mat-icon>
              </button> 
            </span>
          </mat-card>
        </div>
        <div class="col-sm-3"  style="margin-bottom:20px;">
          <mat-card class="list-card" [class.hover-shadow]="Hovered2" (mouseover)="Hovered2=true" (mouseout)="Hovered2=false">
            <div class="row" style="height:100px;outline-color:transparent" routerLink="/crmViewCustomers">
              <div class="col-sm-4 text-center" style="padding-right:0px">
                <img src="../../../../assets/profile.png" alt="Customer Image" style="max-width:100%; max-height:100%">
              </div>
              <div class="col-sm-8" style="padding-left:0px">
                <h5 class="list-card-name"> Customer Name, </h5>
                <h5 class="list-card-email"> Customerinfo@mail.com, </h5>
                <h5 class="list-card-phone"> +91 9876543210, </h5>
                <h5 class="list-card-address"> City, State, Country. </h5>
              </div>
            </div>
            <span style="position:absolute;right:5px;top:5px;">
              <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>create</mat-icon>
              </button>
            </span>
          </mat-card>
        </div>
        <div class="col-sm-3" style="margin-bottom:20px;">
          <mat-card class="list-card" [class.hover-shadow]="Hovered3" (mouseover)="Hovered3=true" (mouseout)="Hovered3=false">
            <div class="row" style="height:100px;outline-color:transparent" routerLink="/crmViewCustomers" >
              <div class="col-sm-4 text-center" style="padding-right:0px">
                <img src="../../../../assets/profile.png" alt="Customer Image" style="max-width:100%; max-height:100%">
              </div>
              <div class="col-sm-8" style="padding-left:0px">
                <h5 class="list-card-name"> Customer Name, </h5>
                <h5 class="list-card-email"> Customerinfo@mail.com, </h5>
                <h5 class="list-card-phone"> +91 9876543210, </h5>
                <h5 class="list-card-address"> City, State, Country. </h5>
              </div>
            </div>
            <span style="position:absolute;right:5px;top:5px;">
              <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>create</mat-icon>
              </button>
            </span>
          </mat-card>
        </div>
        <div class="col-sm-3" style="margin-bottom:20px;">
          <mat-card class="list-card" [class.hover-shadow]="Hovered4" (mouseover)="Hovered4=true" (mouseout)="Hovered4=false">
            <div class="row" style="height:100px;outline-color:transparent" routerLink="/crmViewCustomers">
              <div class="col-sm-4 text-center" style="padding-right:0px">
                <img src="../../../../assets/profile.png" alt="Customer Image" style="max-width:100%; max-height:100%">
              </div>
              <div class="col-sm-8" style="padding-left:0px">
                <h5 class="list-card-name"> Customer Name, </h5>
                <h5 class="list-card-email"> Customerinfo@mail.com, </h5>
                <h5 class="list-card-phone"> +91 9876543210, </h5>
                <h5 class="list-card-address"> City, State, Country. </h5>
              </div>
            </div>
            <span style="position:absolute;right:5px;top:5px;">
              <button type="button" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>create</mat-icon>
              </button>
            </span>
          </mat-card>
        </div>
      </div>
    </mat-card>
</div>

<!-- Dropdown Actions -->
<mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>Add Contact</span>
    </button>
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      <span>Add Activity</span>
    </button>
    <button mat-menu-item>
      <mat-icon>library_add</mat-icon>
      <span>Creat Quot</span>
    </button>
    <button mat-menu-item>
      <mat-icon>note_add</mat-icon>
      <span>Log an Opportunity </span>
    </button>
    <button mat-menu-item>
      <mat-icon>playlist_add</mat-icon>
      <span>Assin as Lead </span>
    </button>
  </mat-menu>

