<p-growl [value]="msgs"></p-growl>

<div class="page">

    <div class="page-identity">
      <div class="page-name">
        <h5> Products Add </h5>
      </div>
      <div class="page-track">
        <ul>
          <li><a routerLink="/products"> Products </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Products Add </li>
        </ul>
      </div>
    </div>

    <mat-card class="example-card">
      <form class="md-float-material" [formGroup]="ProductAddForm" (submit)="onsubmit()" >
        <div class="row">
          <div class="col-sm-3 left-select-bar">
              <div class="example-container">
                  <mat-form-field>
                      <input matInput type="text" formControlName="productName"  name="productName"  placeholder="Product Name">
                  </mat-form-field>
              </div>
              <div style="margin-top:5px;">
                <div class="example-container" style="margin-top:20px;">
                    <mat-checkbox formControlName="productSold" color="accent" class="bg-color-primary" name="productSold" > Can Be Sold </mat-checkbox>
                    <mat-checkbox formControlName="productPurchased" color="accent" class="bg-color-primary" name="productPurchased" > Can Be Purchased </mat-checkbox>
                </div>
              </div>

          </div>
          <div class="col-sm-9">
            <mat-tab-group class="demo-tab-group">

              <mat-tab label="Product Add">
                <div class="demo-tab-content">
                  <div class="row">
                    <div class="col-sm-6" style="margin-bottom:20px">
                        <div class="example-container">
                            <mat-form-field>
                                <mat-select formControlName="productType" name="productType" placeholder="Product Type">
                                    <mat-option *ngFor="let productType of productTypes" [value]="productType">{{productType}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom:20px">
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput type="text" formControlName="purchaseCost"  name="purchaseCost"  placeholder="purchase Cost">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom:20px">
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput type="text" formControlName="saleCost"  name="saleCost"  placeholder="Sale Cost">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom:20px">
                        <div class="example-container">
                            <mat-form-field>
                                <mat-select formControlName="unitofMeasure" name="unitofMeasure" placeholder="Unit of Measure">
                                    <mat-option *ngFor="let unitofMeasure of unitofMeasures" [value]="unitofMeasure">{{unitofMeasure}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom:20px">
                        <div class="example-container">
                            <mat-form-field>
                                <mat-select formControlName="salesTax" name="salesTax" placeholder="Sales Tax">
                                    <mat-option *ngFor="let salesTax of salesTaxes" [value]="salesTax">{{salesTax}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom:20px">
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput type="text" formControlName="hsnCode"  name="hsnCode"  placeholder="HSN Code">
                            </mat-form-field>
                        </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Variants">
                <div class="demo-tab-content">
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-sm-12">
                            <button type="button" mat-raised-button color="accent" (click)="addNewAttribute()" class="pull-right">Add new Attribute </button>
                        </div>
                    </div>
                    <form [formGroup]="AttributeForm">
                        <div formArrayName="AttributeRows">
                        <div *ngFor="let itemrow of AttributeForm.controls.AttributeRows.controls; let i=index"  [formGroupName]="i">
                            <div class="row">
                                <div class="col-sm-5"> 
                                    <div class="example-container">
                                        <mat-form-field>
                                            <input matInput type="text" formControlName="attrname"  name="Attribute"  placeholder="Attribute {{ i + 1 }}">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-5"> 
                                    <div class="example-container">
                                        <mat-form-field>
                                            <input matInput type="text" formControlName="attrvalue"  name="Attribute Value"  placeholder="Attribute Value {{ i + 1 }}">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-2" style="line-height:60px;"> 
                                    <button mat-mini-fab class="bg-color-danger" color="accent" *ngIf="AttributeForm.controls.AttributeRows.controls.length > 1" (click)="deleteRow(i)">
                                        <mat-icon>delete_forever</mat-icon>
                                    </button> 
                                </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>  
              </mat-tab>

              <mat-tab label="Description">
                <div class="demo-tab-content">
                    <form [formGroup]="descriptionForm">
                        <div class="row">
                            <div class="col-sm-4"> 
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput type="text" formControlName="desQuotations"  name="desQuotations"  placeholder="Description For Quotations"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-4"> 
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput type="text" formControlName="desVendor"  name="desVendor"  placeholder="Description For Vendor"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-4"> 
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput type="text" formControlName="desDelivary"  name="desDelivary"  placeholder="Description For Delivary"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </mat-tab>

              <mat-tab label="Price List">
                <div class="demo-tab-content tab-mat-card">
                    <p-dataTable [value]="cars" sortMode="multiple" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-6 text-left"> <h4> Price List </h4> </div>
                                <div class="col-sm-6 text-right">
                                    <button type="button" mat-raised-button color="accent" (click)="addpriceListAdd()" (click)="priceListForm.show()" > Add New </button> 
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="brand" header="Vendor Name" [sortable]="true" ></p-column>
                        <p-column field="vin" header="Vendor Product Name" [sortable]="true" ></p-column>
                        <p-column field="year" header="Vendor Product Code" [sortable]="true" ></p-column>
                        <p-column field="color" header="Activity Date" [sortable]="true" ></p-column>
                        <p-column field="year" header="Minimal Quantity" [sortable]="true" ></p-column>
                        <p-column field="color" header="Price" [sortable]="true" ></p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center', 'width':'100px'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-rowId="rowIndex" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button type="button" mat-mini-fab class="bg-color-info" color="accent" (click)="priceListEdit(rowId)" (click)="priceListForm.show()" > <mat-icon>border_color</mat-icon> </button>
                                        <button type="button" mat-mini-fab class="bg-color-danger" color="accent" (click)="deleteId(rowId)"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>  
              </mat-tab>

            </mat-tab-group>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right" style="margin-top:20px;">
                        <button type="reset" mat-raised-button class="bg-color-warning" color="accent" routerLink="/products" > Cancel </button>
                        <button type="submit" mat-raised-button class="bg-color-success" color="accent"  (click)="formSubmit()" > Submit </button>
                </div>
            </div>
        </div>

      </form>

    </mat-card>

    <!-- Account Settings Payment Terms Edit Model -->
    <div class="modal fade" bsModal #priceListForm="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Payment Terms</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="priceListForm.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="md-float-material" [formGroup]="priceListAddForm" (submit)="formSubmit()">
                <div class="modal-body">
                    <div class="form-group row">
                            
                        <div class="col-sm-6" style="margin-bottom:20px;">
                            <div class="example-container">
                                <mat-form-field>
                                    <input matInput formControlName="vin" type="text" [(ngModel)]="car.vin"  placeholder="vin">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-6" style="margin-bottom:20px;">
                            <div class="example-container">
                                <mat-form-field>
                                    <input matInput formControlName="year" type="text" [(ngModel)]="car.year"  placeholder="year">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-6" style="margin-bottom:20px;">
                            <div class="example-container">
                                <mat-form-field>
                                    <input matInput formControlName="color" type="text" [(ngModel)]="car.color"  placeholder="color">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-6" style="margin-bottom:20px;">
                            <div class="example-container">
                                <mat-form-field>
                                    <input matInput formControlName="brand" type="text" [(ngModel)]="car.brand"  placeholder="brand">
                                </mat-form-field>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" mat-raised-button class="bg-color-danger" color="accent" (click)="priceListForm.hide()"> close </button>
                    <button type="submit" mat-raised-button color="accent" (click)="priceListForm.hide()"> Submit </button>
                </div> 
                </form>
            </div>
        </div>
    </div>


        <!-- Account Settings Delete Confirmation Model -->
        <ng-template #DeleteConfirm>
            <div class="modal-body text-center">
                <p>Are You Sure You Whant To Delete This Data ?</p>
                <button type="button" mat-raised-button class="bg-color-warning" color="accent" (click)="declineDelete()" >No</button>
                <button type="button" mat-raised-button color="accent" class="btn btn-default" (click)="confirmDelete(deleterowId)" >Yes</button>
            </div>
        </ng-template>

        


</div>