<form [formGroup]="QuotationTermsForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title class="pop-up-title"> {{data.Header}} </h1>
    <hr style="margin-top:10px;">
    <mat-dialog-content style="overflow:initial">
      <div class="form-group row">
        <div class="col-sm-7" style="margin-bottom:20px;">
            <div class="example-container">
                <mat-form-field [floatLabel]="floatLabel" class="availabel-prefix">
                    <input matInput type="text" formControlName="quotationTermsName" placeholder=" Quotation Terms Name ">
                    <span *ngIf="disabled" matPrefix> <b> Quotation Terms Name : </b></span>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-12" style="height:250px">
          <div *ngIf="disabled" style="width:100%; height:230px;">
            <h6 style="color:#49b660"> Quotation Terms : </h6>
            <div style="border:1px solid lightgray; width:100%;height:100%;" [innerHTML]="termsView">
            </div>
          </div>
            <div *ngIf="!disabled" class="example-container">
                <p-editor [(ngModel)]="termsView" formControlName="quotationTerms" [style]="{'height':'200px'}"></p-editor>
            </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="pull-right"> 
        <div *ngIf="!disabled">
          <button type="button" mat-raised-button class="bg-color-warning" (click)="dialogRef.close()" color="accent" > Close </button>
          <button type="submit" mat-raised-button color="accent" > Submit </button>
        </div>
        <div *ngIf="disabled" >
          <button type="button" mat-raised-button class="bg-color-warning" (click)="dialogRef.close()" color="accent" > Close </button>
        </div>
    </mat-dialog-actions>
  </form>
  