<div class="home-header YslideAnimateDown"  >
    <div class="header-one">
      <img src="../assets/logo.png" alt="Logo" class="header-logo"> 
      <div class="logout"> <h5><a routerLink="/login"> Logout </a></h5></div>
    </div>
    <div class="header-two">
      <ul class="menus">
        <li class="menu-list"><a routerLink="/dashboard"> Dashboard </a></li>
        <li class="menu-list">
          <a class="tree-menus"> CRM <i class="fa fa-angle-double-right" aria-hidden="true"></i> 
            <ul class="tree-view">
              <li class="tree-list"><a routerLink="/crmCustomersList"> Customers </a></li>
            </ul>
          </a>
        </li>
        <!-- <li class="menu-list">
          <a class="tree-menus" routerLink="/ui"> Ui Examples <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <ul class="tree-view">
              <li class="tree-list"> <a href=""> Submenu One </a></li>
              <li class="tree-list">
                <a href="" class="tree-menus"> Submenu Two <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  <ul class="tree-view">
                    <li class="tree-list"> <a href=""> Submenu One </a></li>
                    <li class="tree-list">
                      <a href="" class="tree-menus"> Submenu Two <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <ul class="tree-view">
                          <li class="tree-list"><a href=""> Submenu One </a></li>
                          <li class="tree-list"> <a href=""> Submenu Two </a></li>
                        </ul>
                      </a>
                    </li>
                  </ul>
                </a>
              </li>
            </ul>
          </a>
        </li> -->
        <li class="menu-list"><a routerLink="/ui" > Examples </a></li>
        <li class="menu-list"><a routerLink="/products"> Products </a></li>
        <li class="menu-list">
          <a class="tree-menus"> Settings <i class="fa fa-angle-double-right" aria-hidden="true"></i> 
            <ul class="tree-view">
              <li class="tree-list"><a routerLink="/companySettings"> Company Settings </a></li>
              <li class="tree-list"><a routerLink="/crmSettings"> CRM Settings </a></li>
              <li class="tree-list"><a routerLink="/leadsSettings"> Leads Settings </a></li>
              <li class="tree-list"><a routerLink="/purchaseSettings"> Purchase Settings </a></li>
              <li class="tree-list"><a routerLink="/accountsSettings"> Accounts Settings </a></li>
              <li class="tree-list"><a routerLink="/hrmsSettings"> HRMS Settings </a></li>
              <li class="tree-list"><a routerLink="/hrSettings"> HR Settings </a></li>
              <li class="tree-list"><a routerLink="/inventorySettings"> Inventory Settings </a></li>
              <li class="tree-list"><a routerLink="/productSettings"> Product Settings </a></li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
