<div class="home-header YslideAnimateDown"  >
    <div class="header-one">
      <img src="../assets/logonew1.png" alt="Logo" class="header-logo"> 
      <div class="logout"> <h5><a routerLink="/login"> Logout </a></h5></div>
      <div class="logout"> <h5><a (click)="visibleSidebar2 = true" > Right Bar </a></h5></div>
    </div>
    <div class="header-two">
      <ul class="menus">
        <li class="menu-list" [routerLinkActive]="['active']">
          <a routerLink="/dashboard">
            <span style="display:flex">
              <span class="pull-left" style="line-height:30px;margin-top:8px;">
                <mat-icon>dashboard</mat-icon>
              </span>  
              <span class="pull-left"> &nbsp; Dashboard </span> 
            </span>
          </a>
        </li>
        <li class="menu-list" [routerLinkActive]="['active']">
          <a class="tree-menus" > 
            <span style="display:flex" >
              <span class="pull-left" style="line-height:30px;margin-top:8px">
                <mat-icon>supervisor_account</mat-icon>
              </span>  
              <span class="pull-left"> &nbsp; CRM </span> 
            </span>
            <ul class="tree-view">
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/crmCustomersList"> Customers </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/crmQuotationsList"> Quotations </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/crmSaleOrdersList"> Sale Orders </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/crmInvoiceList"> Invoice </a></li>
            </ul>
          </a>
        </li>
        <!-- <li class="menu-list">
          <a class="tree-menus" routerLink="/ui"> Ui Examples <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <ul class="tree-view">
              <li class="tree-list"> <a href=""> Submenu One </a></li>
              <li class="tree-list">
                <a href="" class="tree-menus"> Submenu Two <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  <ul class="tree-view">
                    <li class="tree-list"> <a href=""> Submenu One </a></li>
                    <li class="tree-list">
                      <a href="" class="tree-menus"> Submenu Two <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <ul class="tree-view">
                          <li class="tree-list"><a href=""> Submenu One </a></li>
                          <li class="tree-list"> <a href=""> Submenu Two </a></li>
                        </ul>
                      </a>
                    </li>
                  </ul>
                </a>
              </li>
            </ul>
          </a>
        </li> -->
        <li class="menu-list" [routerLinkActive]="['active']">
          <a routerLink="/ui" > 
            <span style="display:flex">
              <span class="pull-left" style="line-height:30px;margin-top:10px;">
                <mat-icon style="font-size:22px;">functions</mat-icon>
              </span>  
              <span class="pull-left"> &nbsp; Examples </span> 
            </span>
          </a>
        </li>
        <li class="menu-list" [routerLinkActive]="['active']">
          <a routerLink="/products">
            <span style="display:flex">
              <span class="pull-left" style="line-height:30px;margin-top:10px;">
                <mat-icon style="font-size:22px;">local_offer</mat-icon>
              </span>  
              <span class="pull-left"> &nbsp; Products </span> 
            </span>
          </a>
        </li>
        <li class="menu-list" [routerLinkActive]="['active']">
          <a class="tree-menus">
            <span style="display:flex">
              <span class="pull-left" style="line-height:30px;margin-top:10px;">
                <mat-icon style="font-size:22px;">settings</mat-icon>
              </span>  
              <span class="pull-left"> &nbsp; Settings </span> 
            </span>
            <ul class="tree-view">
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/companySettings"> Company Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/crmSettings"> CRM Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/leadsSettings"> Leads Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/purchaseSettings"> Purchase Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/accountsSettings"> Accounts Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/hrmsSettings"> HRMS Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/hrSettings"> HR Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/inventorySettings"> Inventory Settings </a></li>
              <li class="tree-list" [routerLinkActive]="['active']"><a routerLink="/productSettings"> Product Settings </a></li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
      <h1 style="font-weight:normal">Right Sidebar</h1>
  </p-sidebar>
