<p-growl [value]="msgs"></p-growl>

<div class="page" style="margin-top:137px">

    <div class="page-identity" style="position:fixed; margin-top:-42px;">
      <div class="page-name">
        <h5> </h5>
      </div>
      <div class="page-track" style="width:47%">
        <ul>
          <li> Sale Orders </li>
        </ul>
      </div>
    </div>

    <mat-card class="example-card tab-mat-card style-new" style="padding:0px 0px 30px 0px;background-color:#f1f4f7;box-shadow:none;">
        <p-dataTable [value]="cars" [globalFilter]="SaleOrderFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
            <p-header>
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <button mat-button class="color-success" style="font-weight:600" routerLink="/crmCreateQuotations"> + Create </button> 
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5 text-left"> 
                        <div style="width:100%;display:inline-flex">
                            <div style="float:left;width:85%">
                                <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                    <input matInput type="text" #SaleOrderFilter placeholder="Search" />
                                    <button mat-button matSuffix mat-icon-button aria-label="Search">
                                        <mat-icon style="font-size:25px">search</mat-icon>
                                    </button>
                                </mat-form-field> 
                            </div>
                            <div style="float:left;width:15%;text-align:center;height:35px">
                                <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                            </div>
                        </div>         
                    </div>
                </div> 
            </p-header>
            <p-headerColumnGroup>
                <p-row>
                    <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" ></p-column>
                    <p-column header="Sale Order Details" [style]="{'min-width':'17%','text-align':'center'}"></p-column>
                    <p-column header="Quote Details" [style]="{'min-width':'17%','text-align':'center'}"></p-column>
                    <p-column header="Company Details" [style]="{'min-width':'22%','text-align':'center'}"></p-column>
                    <p-column header="Created By" [style]="{'text-align':'center'}"></p-column>
                    <p-column header="Action" [style]="{'text-align':'center'}"></p-column>
                </p-row>
            </p-headerColumnGroup>
            <p-column>
                <ng-template let-col let-i="rowIndex" pTemplate="body">
                    <span >{{i+1}}</span>
                </ng-template> 
            </p-column>
            <p-column >
                <ng-template let-car="rowData" pTemplate="body">
                    <h6 class="tbl-value-1" > <b>  SaleOrder-{{car['vin']}} </b> </h6>
                    <h6 class="tbl-value-4" >  ContactPerson@gmail.com </h6>
                    <h6 class="tbl-value-3" > Create Date : 12/07/2017 </h6>
                </ng-template>
            </p-column>
            <p-column>
                <ng-template let-car="rowData" pTemplate="body" >
                    <h6 class="tbl-value-1" (click)="ViewQuote(car)"> <b> Quote-{{car['vin']}}</b> </h6>
                    <h6 class="tbl-value-3" >  Valid Till : 12/01/{{car['year']}}  </h6>
                </ng-template>
            </p-column>
            <p-column >
                <ng-template let-car="rowData" pTemplate="body">
                    <h6 class="tbl-value-1" (click)="ViewCustomer(car)"> <b> Customer Name </b> </h6>
                    <h6 class="tbl-value-3" >  ganapathy, coimboture, Tamil Nadu </h6>
                </ng-template>
            </p-column>
            <p-column >
                <ng-template let-car="rowData" pTemplate="body" >
                    <h6 class="tbl-value-5"> <b> Admin Name </b> </h6>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                <ng-template let-car="rowData" pTemplate="body">
                        <div class="button-row tabel-action">
                            <button mat-raised-button class="bg-color-primary" color="accent" [matMenuTriggerFor]="menu" > Action </button>
                        </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </mat-card>
</div>


<!-- Dropdown Actions -->
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="EditQuote(car)" >
        <mat-icon>border_color</mat-icon>
        <span>Edit Quote</span>
    </button>
    <button mat-menu-item (click)="ViewQuote(car)" >
        <mat-icon>remove_red_eye</mat-icon>
        <span>View Quote</span>
    </button>
    <button mat-menu-item>
        <mat-icon>autorenew</mat-icon>
        <span>Revise Quot</span>
    </button>
    <button mat-menu-item>
        <mat-icon>assignment_turned_in</mat-icon>
        <span> Sales Order </span>
    </button>
</mat-menu>