<p-growl [value]="msgs"></p-growl>

<div class="page">

    <div class="page-identity">
      <div class="page-name">
        <h5> Company Settings </h5>
      </div>
      <div class="page-track">
        <ul>
          <li><a routerLink="/dashboard"> Settings </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Company Settings </li>
        </ul>
      </div>
    </div>
  
    <mat-card class="example-card tab-mat-card">

        <p-tabView orientation="left" (onChange)="handleChange($event)">

            <p-tabPanel header="Company Info">
                <ng-template pTemplate="content">

                    <mat-card class="example-card">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <img src="./assets/company.png" alt=" Company Image" style="max-width:200px">
                                <div class="row">
                                    <div class="col-sm-12 text-center"> <b> AASHI Technologies </b></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4 text-right"> <b> Address : </b></div>
                                    <div class="col-sm-8 text-left"> 32- Sri Lakshmi Nagar, <br> Coimbatore, <br> TamilNadu, <br> India, </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-sm-6">
                                <div class="left-data">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Phone : </b></div>
                                        <div class="col-sm-8 text-left">  +91 82201 25844 </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Email : </b></div>
                                        <div class="col-sm-8 text-left">  Kathiraashi@gmail.com </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Website : </b></div>
                                        <div class="col-sm-8 text-left">  www.Sambelwebsite.com </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Company Type : </b></div>
                                        <div class="col-sm-8 text-left"> Company Type </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Type Of Business : </b></div>
                                        <div class="col-sm-8 text-left"> Type Of Business  </div>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </mat-card>


                    <div class="edit-button">
                        <button mat-raised-button color="accent" (click)="EditCompanyInfo(cars[0])"> Edit </button>
                    </div>

                </ng-template>
            </p-tabPanel><!-- Company Info -->

            <p-tabPanel header="Contact Info">
                <ng-template pTemplate="content">

                    <p-dataTable [value]="cars" [globalFilter]="ContactInfoFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddContactInfo()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #ContactInfoFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                 Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent"  (click)="EditContactInfo(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewContactInfo(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Contact Info -->

            <p-tabPanel header="Departments">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="DepartmentsFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddDepartments()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #DepartmentsFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditDepartments(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewDepartments(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Departments -->

            <p-tabPanel header="Branches">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="BranchesFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddBranches()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #BranchesFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditBranches(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewBranches(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Branches -->

            <p-tabPanel header="Registration Info">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="RegistrationInfoFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="AddRegistrationInfo()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #RegistrationInfoFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditRegistrationInfo(car)" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewRegistrationInfo(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="DeleteConfirmation(car)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Registration Info -->

        </p-tabView>
        
    </mat-card>
</div>



    

