<p-growl [value]="msgs"></p-growl>

<div class="page">

    <div class="page-identity">
      <div class="page-name">
        <h5> Company Settings </h5>
      </div>
      <div class="page-track">
        <ul>
          <li><a routerLink="/dashboard"> Settings </a></li>
          <li><i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
          <li> Company Settings </li>
        </ul>
      </div>
    </div>
  
    <mat-card class="example-card tab-mat-card">

        <p-tabView orientation="left" (onChange)="handleChange($event)">

            <p-tabPanel header="Company Info">
                <ng-template pTemplate="content">

                    <mat-card class="example-card">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <img src="./assets/company.png" alt=" Company Image" style="max-width:200px">
                                <div class="row">
                                    <div class="col-sm-12 text-center"> <b> AASHI Technologies </b></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4 text-right"> <b> Address : </b></div>
                                    <div class="col-sm-8 text-left"> 32- Sri Lakshmi Nagar, <br> Coimbatore, <br> TamilNadu, <br> India, </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-sm-6">
                                <div class="left-data">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Phone : </b></div>
                                        <div class="col-sm-8 text-left">  +91 82201 25844 </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Email : </b></div>
                                        <div class="col-sm-8 text-left">  Kathiraashi@gmail.com </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Website : </b></div>
                                        <div class="col-sm-8 text-left">  www.Sambelwebsite.com </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Company Type : </b></div>
                                        <div class="col-sm-8 text-left"> Company Type </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4 text-right"> <b> Type Of Business : </b></div>
                                        <div class="col-sm-8 text-left"> Type Of Business  </div>
                                    </div>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </mat-card>


                    <div class="edit-button">
                        <button mat-raised-button color="accent" (click)="CompanyInfoEdit.show()"> Edit </button>
                    </div>

                </ng-template>
            </p-tabPanel><!-- Company Info -->

            <p-tabPanel header="Contact Info">
                <ng-template pTemplate="content">

                    <p-dataTable [value]="cars" [globalFilter]="ContactInfoFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="ContactInfoAdd.show()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #ContactInfoFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                 Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditCar(car)" (click)="ContactInfoEdit.show()" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewCar(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Contact Info -->

            <p-tabPanel header="Departments">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="DepartmentsFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="DepartmentsAdd.show()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #DepartmentsFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditCar(car)" (click)="DepartmentsEdit.show()" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewCar(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Departments -->

            <p-tabPanel header="Branches">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="BranchesFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="BranchesAdd.show()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #BranchesFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditCar(car)" (click)="BranchesEdit.show()" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewCar(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Branches -->

            <p-tabPanel header="Registration Info">
                <ng-template pTemplate="content">
                        
                    <p-dataTable [value]="cars" [globalFilter]="RegistrationInfoFilter" sortMode="multiple" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,25,50,100]">
                        <p-header>
                            <div class="row">
                                <div class="col-sm-4 text-left">
                                    <button mat-button class="color-success" style="font-weight:600" (click)="RegistrationInfoAdd.show()"> + Create </button> 
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-5 text-left"> 
                                    <div style="width:100%;display:inline-flex">
                                        <div style="float:left;width:85%">
                                            <mat-form-field class="search-field" style="width:100%;height:44px; margin-top:-10px;">
                                                <input matInput type="text" #RegistrationInfoFilter placeholder="Search" />
                                                <button mat-button matSuffix mat-icon-button aria-label="Search">
                                                    <mat-icon style="font-size:25px">search</mat-icon>
                                                </button>
                                            </mat-form-field> 
                                        </div>
                                        <div style="float:left;width:15%;text-align:center;height:35px">
                                            <button mat-button mat-icon-button > <mat-icon style="font-size:28px;margin-top:8px;color:#546a77">filter_list</mat-icon> </button>
                                        </div>
                                    </div>         
                                </div>
                            </div> 
                        </p-header>
                        <p-column header="S.No" [style]="{'width':'60px','text-align':'center'}" >
                            <ng-template let-col let-i="rowIndex" pTemplate="body">
                                <span >{{i+1}}</span>
                            </ng-template> 
                        </p-column>
                        <p-column field="vin" header="Vin" [sortable]="true" ></p-column>
                        <p-column field="brand" header="Brand" [sortable]="true" ></p-column>
                        <p-column field="year" header="Year" [sortable]="true" ></p-column>
                        <p-column field="color" header="Color" [sortable]="true" >
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column styleClass="col-button" [style]="{'text-align':'center'}" >
                            <ng-template pTemplate="header">
                                    Action
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                    <div class="button-row tabel-action">
                                        <button mat-mini-fab class="bg-color-info" color="accent" (click)="EditCar(car)" (click)="RegistrationInfoEdit.show()" > <mat-icon>border_color</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-warning" color="accent" (click)="ViewCar(car)" > <mat-icon>visibility</mat-icon> </button>
                                        <button mat-mini-fab class="bg-color-danger" color="accent"  (click)="openModal(DeleteConfirm)" > <mat-icon>delete_forever</mat-icon> </button>
                                    </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </ng-template>
            </p-tabPanel><!-- Registration Info -->

        </p-tabView>
        
    </mat-card>
</div>
  


<!-- Models -->

    <!-- Company Settings Company Info Edit Model -->
    <div class="modal fade" bsModal #CompanyInfoEdit="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Company Info</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="CompanyInfoEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="CompanyInfoEditForm" (submit) = onRgisterSubmit() >
            
                        <div class="form-group row">

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="companyName"  name="companyName"  placeholder="Company Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 color-danger" *ngIf="CompanyInfoEditForm.controls.companyName.errors?.required && CompanyInfoEditForm.controls.companyName.dirty" > Company Name Is Required  </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="pnoneNumber"  name="pnoneNumber"  placeholder="Pnone Number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="eMail"  name="eMail"  placeholder="E-mail">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="website"  name="website"  placeholder="Website">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="companyType" placeholder="Company Type">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let type of comTypes" [value]="comTypes">{{type}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="TypeOfBusiness" placeholder="Type Of Business">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let types of busTypes" [value]="busTypes">{{types}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput formControlName="address" name="address" placeholder="Address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="CompanyInfoEdit.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="CompanyInfoEdit.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Settings Contact Info Add Model -->
    <div class="modal fade" bsModal #ContactInfoAdd="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Contact Info</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="ContactInfoAdd.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="ContactInfoAddForm" (submit) = onRgisterSubmit() >
            
                        <div class="form-group row">

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="conPersonName"  name="conPersonName" placeholder="Contact Person Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="ContactInfoAddForm.controls.conPersonName.errors?.required && ContactInfoAddForm.controls.conPersonName.dirty" > Contact Person Name Is Required  </div>
                            </div>

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="mobileNumber"  name="mobileNumber" placeholder="Mobile Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="ContactInfoAddForm.controls.mobileNumber.errors?.required && ContactInfoAddForm.controls.mobileNumber.dirty" > Mobile Number Is Required  </div>
                            </div>

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="eMail"  name="eMail" placeholder="E-mail">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="ContactInfoAddForm.controls.eMail.errors?.required && ContactInfoAddForm.controls.eMail.dirty" > E-mail Is Required  </div>
                            </div>
                            
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="ContactInfoAdd.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="ContactInfoAdd.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Settings Contact Info Edit Model -->
    <div class="modal fade" bsModal #ContactInfoEdit="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Contact Info</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="ContactInfoEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="ContactInfoEditForm" (submit) = onCrmSubmit() >
            
                        <div class="form-group row">
                                
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="conPersonName"  name="conPersonName" placeholder="Contact Person Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="ContactInfoEditForm.controls.conPersonName.errors?.required && ContactInfoEditForm.controls.conPersonName.dirty" > Contact Person Name Is Required  </div>
                            </div>

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="mobileNumber"  name="mobileNumber" placeholder="Mobile Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="ContactInfoEditForm.controls.mobileNumber.errors?.required && ContactInfoEditForm.controls.mobileNumber.dirty" > Mobile Number Is Required  </div>
                            </div>

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="eMail"  name="eMail" placeholder="E-mail">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="ContactInfoEditForm.controls.eMail.errors?.required && ContactInfoEditForm.controls.eMail.dirty" > E-mail Is Required  </div>
                            </div>
                            
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="ContactInfoEdit.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="ContactInfoEdit.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Settings Departments Add Model -->
    <div class="modal fade" bsModal #DepartmentsAdd="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Departments</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="DepartmentsAdd.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="DepartmentsAddForm" (submit) = onRgisterSubmit() >
            
                        <div class="form-group row">
                                
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="departmrntName"  name="departmrntName" placeholder="Departmrnt Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="DepartmentsAddForm.controls.departmrntName.errors?.required && DepartmentsAddForm.controls.departmrntName.dirty" > Departmrnt Name Is Required  </div>
                            </div>

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="departmrntHead"  name="departmrntHead" placeholder="Departmrnt Head">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="DepartmentsAddForm.controls.departmrntHead.errors?.required && DepartmentsAddForm.controls.departmrntHead.dirty" > Departmrnt Head Is Required  </div>
                            </div>
                            
                        </div>
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="DepartmentsAdd.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="DepartmentsAdd.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Company Settings Departments Edit Model -->
    <div class="modal fade" bsModal #DepartmentsEdit="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Departments </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="DepartmentsEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="DepartmentsEditForm" (submit) = onCrmSubmit() >
            
                        <div class="form-group row">
                                
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="departmrntName"  name="departmrntName" placeholder="Departmrnt Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="DepartmentsEditForm.controls.departmrntName.errors?.required && DepartmentsEditForm.controls.departmrntName.dirty" > Departmrnt Name Is Required  </div>
                            </div>

                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="departmrntHead"  name="departmrntHead" placeholder="Departmrnt Head">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-8  color-danger" *ngIf="DepartmentsEditForm.controls.departmrntHead.errors?.required && DepartmentsEditForm.controls.departmrntHead.dirty" > Departmrnt Head Is Required  </div>
                            </div>
                            
                        </div>
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="DepartmentsEdit.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="DepartmentsEdit.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Settings Branches Add Model -->
    <div class="modal fade" bsModal #BranchesAdd="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Branches </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="BranchesAdd.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="BranchesAddForm" (submit) = onRgisterSubmit() >
            
                        <div class="form-group row">
                                
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="branchName"  name="branchName"  placeholder="Branch Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 color-danger" *ngIf="BranchesAddForm.controls.branchName.errors?.required && BranchesAddForm.controls.branchName.dirty" > Branch Name Is Required  </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="branchHead"  name="branchHead"  placeholder="Branch Head">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="departments" placeholder="Departments" multiple>
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let department of departments" [value]="departments">{{department}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput formControlName="address" name="address" placeholder="Address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="BranchesAdd.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="BranchesAdd.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Company Settings Branches Edit Model -->
    <div class="modal fade" bsModal #BranchesEdit="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Branches</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="BranchesEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="BranchesEditForm" (submit) = onCrmSubmit() >
            
                        <div class="form-group row">
                                
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="branchName"  name="branchName"  placeholder="Branch Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 color-danger" *ngIf="BranchesEditForm.controls.branchName.errors?.required && BranchesEditForm.controls.branchName.dirty" > Branch Name Is Required  </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="branchHead"  name="branchHead"  placeholder="Branch Head">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="departments" placeholder="Departments" multiple>
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let department of departments" [value]="departments">{{department}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <textarea matInput formControlName="address" name="address" placeholder="Address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
        
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="BranchesEdit.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="BranchesEdit.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Settings Registration Info Add Model -->
    <div class="modal fade" bsModal #RegistrationInfoAdd="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Registration Info</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="RegistrationInfoAdd.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="RegistrationInfoAddForm" (submit) = onRgisterSubmit() >
            
                        <div class="form-group row">
                                
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="registrationType" placeholder="Registration Type">
                                            <mat-option *ngFor="let registrationType of registrationTypes" (click)="RegTypeStatusAddForm()" [value]="registrationType">{{registrationType}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div *ngIf="AddFormOthers" class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="SpecifyRegistrationType"  name="SpecifyRegistrationType"  placeholder="Specify The Registration Type">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field class="example-full-width cdk-overlay-pane">
                                        <input matInput formControlName="incorporatedDate" name="incorporatedDate" placeholder="Incorporated Date"  bsDatepicker >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="number"  name="number"  placeholder="Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 color-danger" *ngIf="RegistrationInfoAddForm.controls.number.errors?.required && RegistrationInfoAddForm.controls.number.dirty" > number Is Required  </div>
                            </div>

                        </div>
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="RegistrationInfoAdd.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="RegistrationInfoAdd.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Company Settings Registration Info Edit Model -->
    <div class="modal fade" bsModal #RegistrationInfoEdit="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Edit Registration Info</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="RegistrationInfoEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="md-float-material" [formGroup]="RegistrationInfoEditForm" (submit) = onCrmSubmit() >
            
                        <div class="form-group row">
                                
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <mat-select formControlName="registrationType" placeholder="Registration Type">
                                            <mat-option *ngFor="let registrationType of registrationTypes" (click)="RegTypeStatusEditForm()" [value]="registrationType">{{registrationType}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div *ngIf="EditFormOthers" class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="SpecifyRegistrationType"  name="SpecifyRegistrationType"  placeholder="Specify The Registration Type">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field class="example-full-width cdk-overlay-pane">
                                        <input matInput formControlName="incorporatedDate" name="incorporatedDate" placeholder="Incorporated Date"  bsDatepicker >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom:20px;">
                                <div class="example-container">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="number"  name="number"  placeholder="Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 color-danger" *ngIf="RegistrationInfoEditForm.controls.number.errors?.required && RegistrationInfoEditForm.controls.number.dirty" > number Is Required  </div>
                            </div>

                        </div>
    
                    </form>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="bg-color-warning" color="accent" (click)="RegistrationInfoEdit.hide()"> Close </button>
                    <button mat-raised-button color="accent" (click)="RegistrationInfoEdit.hide()"> Submit </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Company Settings Delete Confirmation Model -->
    <ng-template #DeleteConfirm>
        <div class="modal-body text-center">
            <p>Are You Sure You Whant To Delete This Data ?</p>
            <button type="button" mat-raised-button class="bg-color-warning" color="accent" (click)="declineDelete()" >No</button>
            <button type="button" mat-raised-button color="accent" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
        </div>
    </ng-template>



    

